.custom-navbar {
  background-color: #1a1a1d;
  padding: 1rem;
}

.navbar-logo {
  width: 60px;
  height: auto;
}

.navbar-nav .nav-link {
  color: #ffffff;
  margin-left: 20px;
  font-size: 1.5rem;
}

.navbar-nav .nav-link:hover {
  color: #a64d79;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}
.navbar-toggler-icon {
  filter: invert(100%); /* Hamburger menüyü beyaz yapalım */
}
